<%
const uniq = (...args) => {
  const arr = [];
  args.forEach(arg => arr.push(...arg));
  return [...new Set(arr)];
};

// Entry files must be injected for application to start
const entryFilesJSModern = modernMeta.entryFiles.filter(it => it.endsWith('.js'));
const entryFilesJSLegacy = legacyMeta.entryFiles.filter(it => it.endsWith('.js'));
const entryFilesCSSModern = modernMeta.entryFiles.filter(it => it.endsWith('.css'));
const entryFilesCSSLegacy = legacyMeta.entryFiles.filter(it => it.endsWith('.css'));

// There's no need to control other files, but I decided to prefetch them
const otherFilesJSModern = modernMeta.otherFiles.filter(it => it.endsWith('.js'));
const otherFilesJSLegacy = legacyMeta.otherFiles.filter(it => it.endsWith('.js'));
const otherFilesCSSModern = modernMeta.otherFiles.filter(it => it.endsWith('.css'));
const otherFilesCSSLegacy = legacyMeta.otherFiles.filter(it => it.endsWith('.css'));
%>

<!doctype html>
<html lang="en">
<link>
<meta charset="utf-8">
<title>Webpack App</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<script>
  !function () {
    // Force enabling legacy mode for debugging purposes
    if (location.search.indexOf('es-legacy') !== -1) {
      window.LEGACY = true;
    // Force disabling legacy mode for debugging purposes
    } else if (location.search.indexOf('es-modern') !== -1) {
      window.LEGACY = false;
    } else {
      try {
        // Polyfills check
        if (
          !('IntersectionObserver' in window) ||
          !('Promise' in window) ||
          !('fetch' in window) ||
          !('finally' in Promise.prototype)
        ) {
          throw {};
        }

        // Syntax check
        eval('const a = async ({ ...rest } = {}) => rest; let b = class {};');
        window.LEGACY = false;
      } catch (e) {
        window.LEGACY = true;
      }
    }

    function addPrefetch(src, as) {
      var link = document.createElement('link');
      link.rel = 'prefetch';
      link.as = as;
      link.href = src;
      document.head.appendChild(link);
    }

    var entryFilesJSModern = <%- JSON.stringify(entryFilesJSModern) %>;
    var entryFilesJSLegacy = <%- JSON.stringify(entryFilesJSLegacy) %>;
    var entryFilesCSSModern = <%- JSON.stringify(entryFilesCSSModern) %>;
    var entryFilesCSSLegacy = <%- JSON.stringify(entryFilesCSSLegacy) %>;

    // Use entry
    (LEGACY ? entryFilesJSLegacy : entryFilesJSModern).forEach(
      function (chunkName) {
        var link = document.createElement('script');
        link.defer = true;
        link.src = chunkName;
        document.head.appendChild(link);
      },
    );
    (LEGACY ? entryFilesCSSLegacy : entryFilesCSSModern).forEach(
      function (chunkName) {
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = chunkName;
        document.head.appendChild(link);
      },
    );

    var otherFilesJSModern = <%- JSON.stringify(otherFilesJSModern) %>;
    var otherFilesJSLegacy = <%- JSON.stringify(otherFilesJSLegacy) %>;
    var otherFilesCSSModern = <%- JSON.stringify(otherFilesCSSModern) %>;
    var otherFilesCSSLegacy = <%- JSON.stringify(otherFilesCSSLegacy) %>;

    // Prefetching all possible chunks
    (LEGACY ? otherFilesJSLegacy : otherFilesJSModern).forEach(
      function (chunkName) {
        addPrefetch(chunkName, 'script');
      },
    );
    (LEGACY ? otherFilesCSSLegacy : otherFilesCSSModern).forEach(
      function (chunkName) {
        addPrefetch(chunkName, 'style');
      },
    );
  }();
</script>
<style>
  body {
    background-color: #282c34;
    margin: 0;
  }
</style>
</head>
<body>
</body>
</html>